.c-basket {
    padding: 10px;
    margin: 10px 15px 5px 15px;
    background-color: orange;
    border: 1px solid green;
    border-radius: 5px;
    height: 100px;
}

.c-basket-page-promo-section {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

@media(max-width: 1000px) {
    .c-basket-page-promo-section {
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        text-align: center;
    }

    .c-basket-page-promo-section img {
        max-width: 300px !important;
    }

    .c-basket-page-promo-section-text {
        font-size: 1.5em !important;
    }
}