.order .order-form .row > div {
    margin-bottom: 10px;
}

.order form {
    padding-bottom: 10px;
}

.subtotal {
    font-size: 2em;
}

.c-order-page-submit {
    display: 'flex';
    justify-content: space-around;
    align-items: 'center';
}

@media(max-width: 1000px) {
    .c-order-page-submit {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .c-order-page-submit input {
        margin-top: 15px;
    }
}