.c-card {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
    border: 5px solid;
    color: rgba(171,168,171,1);
    -webkit-box-shadow: 0px 9px 18px 0px;
    -moz-box-shadow: 0px 9px 18px 0px;
    box-shadow: 0px 9px 18px 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
}

.c-card .title {
    padding: 5px;
    width: 100%;
    font-size: 1.5em;
    color: white;
}

.c-card .info {
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
    height: 200px;
    color: #333;
}

.c-card img {
  max-height: 150px;
  max-width: 100%;
  user-select: none;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

.c-card-container {
  perspective: 1000px;
  padding: 0 15px;
  width: 25%;
  float: left;
}

@media(max-width: 800px) {
  .c-card-container {
    width: 100%;
  }
}


.c-card-container.flipped .c-card {
    transform: rotateY(-180deg);
}

.c-card {
	transition: .75s;
	transform-style: preserve-3d;
	position: relative;
}

.links-header {
  font-size: 1.2em;
}

.links-header i {
  margin-right: 5px;
}

.back .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-card:hover {
  -webkit-box-shadow: 0px 10px 18px 3px;
  -moz-box-shadow: 0px 10px 18px 3px;
  box-shadow: 0px 10px 18px 3px;
}