.c-page-header {
    position: absolute;
    top: 0;
    z-index:1000;
    width: 100%;
    padding: 10px;
    background-color: #FBF8F0;
    font-size: 1.5vw;
    vertical-align: middle;
    height: 12vh;
    transition: height .5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 2px 32px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 32px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 32px -5px rgba(0,0,0,0.75);
}

.c-page-header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.c-page-header .hide {
    height: 0px;
    transition: height .5s;
}

.c-page-header-logo {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #FBF8F0;
    cursor: pointer;
    max-width: 20vw;
    height: 7vw;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 10px;
}

.c-page-header-logo .logo {
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

@media(min-width: 1085px) {
    .c-page-header-logo {
        -webkit-box-shadow: 0px 9px 0px -2px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 9px 0px -2px rgba(0,0,0,0.11);
        box-shadow: 0px 9px 0px -2px rgba(0,0,0,0.11);
    }
}

@media(max-width: 1085px) {
    .c-page-header-logo {
        height: 100%;
    }

    .c-page-header-contact {
        display: none;
    }
}

.c-page-header  i {
    margin-left: 15px;
    margin-right: 5px;
}

.c-page-header  small {
    font-size: .7em;
}

.c-page-header  .slogan {
    font-weight: bold;
    margin-right: 25px;
}

p {
    margin: 0 0 0 10px; 
    padding: 0;
    display: inline-block;
}