.twitter:hover {
    color: #1DA1F2;
}

.pinterest:hover {
    color: #BD081B;
}

.facebook:hover {
    color: #4867AA;
}

.footer i {
    margin-right: 10px;
    cursor: pointer;
}

.footer i:last-child {
    margin-right: 0;
}