html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #4a2e1c;
  font-family: Aller;
  background-color: #EEE;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-height {
  height: 100%;
}

optgroup {
  font-size: 1.5em;
  color: #EEE;
  background-color: #4a2e1c;
}

optgroup option {
  font-size: .75em;
  color: #4a2e1c;
  background-color: white;
}

@font-face {
  font-family: Aller;
  src: url(./fonts/Aller_Rg.ttf);
}

@font-face {
  font-family: AllerTitle;
  src: url(./fonts/AllerDisplay.ttf);
}

.back-brown-app {
  background-color: #FBF8F0;
}

.back-brown {
  background-color: #825a41;
}

.back-orange {
  background-color: #CC5A3B;
}

.back-light-orange {
  background-color: #FFD9D1 !important;
}

.orange {
  color: #CC5A3B;
}

.border-orange {
  border-color: #CC5A3B !important;
}

.back-purple {
  background-color: #4D3A56;
}

.back-light-purple {
  background-color: #F0DBFF !important;
}

.purple {
  color: #4D3A56;
}

.border-purple {
  border-color: #4D3A56 !important;
}

.shadow-orange:hover {
  color: #CC5A3B;
}

.shadow-purple:hover {
  color: #4D3A56;
} 

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 5px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

p.author {
  margin-top: 15px;
  font-size: .8em;
  display: block;
}

.margin-top-15 {
  margin-top: 15px;
}

.page-content {
  overflow: hidden;
  min-height: calc(100% - 86px)
}
